/* Version nuit -> ton foncé */

/* général */

body {
    background-color: blueviolet;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 1fr);

}


div { 
    grid-area: 2 / 2 / 4 / 4;
    display: flex;
    justify-content: center;
}

button {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 3%;
}


a {
    text-decoration: none;
    color: black;
}


