/* " */

/* Ajout police perso */
@font-face {
    font-family: MonsterFont;
    src: url(MonsterFont.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(Sacramento-Regular.ttf);
}

/* Test couleurs :  

    #470459
    #410252
    #340a40

*/


body {
    background-color: black;
    margin: 0px;
}

/* Définie l'agencement de l'affichage */
.container {
    display: flex;
    justify-content: center;
    margin: 150px 0px;
    /* -> à modifier pour le responssive*/
}


a {
    text-decoration: none;
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    padding: 10px;
}


/* "bouton"  */
.load {
    background-color: transparent;
    height: 425px;
    width: 425px;

    border: 5px solid #fff;
    border-right: none;
    border-bottom: none;

    border-radius: 100%;

    position: absolute;
    z-index: 1;
}

/* Effet  */
._glow {
    border: 3px solid #fff !important;
    box-shadow:
        0 0 13px #bc13fe,
        0 0 21px #bc13fe,
        0 0 32px #bc13fe,
        0 0 45px #bc13fe;
}

.texte {
    color: #fff;
    font-family: MonsterFont;
    font-size: 40px;
    letter-spacing: 10px;
    padding: 10px;
}



.effet_on {
    transform: scale(1);
    text-shadow:
        0 0 13px #bc13fe,
        0 0 21px #bc13fe,
        0 0 32px #bc13fe,
        0 0 45px #bc13fe;
}

.effet_off {
    color: transparent;
    transform: scale(0.9);
    text-shadow:
        0 0 13px #bb13fe2c,
        0 0 21px #bb13fe2c,
        0 0 32px #bb13fe2c,
        0 0 45px #bb13fe2c;

}


/* PAGE 404   */

.center_element {
    display: flex;
    justify-content: center;
    margin: 250px 0px;
}

/* .not_found {


} */